@charset "utf-8";

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background: url("/images/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container.main {
  background: rgba(255, 255, 255, 0.90);
  border-radius: 8px 8px 0px 0px;
  /*margin-bottom: 10px;*/
}

.container.footer {
  background: white;
  opacity: 0.25;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  margin-bottom: 10px;
}

hr {
    margin-top: 0;
}

.button.social {
    line-height: 25px;
    height: 28px;
    border-radius: 40px;
    padding: 0 0px;
    margin-bottom: 0px;
}

.block {
  text-align: center;
  padding: 5px;
}

.social-list {
    margin-top: 3rem;
}

.download {
    margin: 2rem 0;
}

a.button.download::before {
    padding-right: 8px;
    content: '';
    font-size: 11px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .description {
        min-height: 2em;
    }

    .catalog {
        margin-top: 1rem;
    }

    .container {
        width: 95%
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    .button.social {
        padding: 0 2px;
    }

    .button.download {
        padding: 0 10px;
        height: 100%;
        line-height: 25px;
        white-space: normal;
    }

    .description {
        min-height: 9.8em;
    }


    .catalog {
        margin-top: 3rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .button.download {
        line-height: 25px;
        white-space: normal;
    }

    .description {
        min-height: 8em;
    }

    .catalog {
        margin-top: 3rem;
    }
}

/* Larger than tablet */
@media (min-width: 873px) {
    .button.download {
        line-height: 25px;
        white-space: normal;
    }

    .description {
        min-height: 8em;
    }

    .catalog {
        margin-top: 3rem;
    }
}

@media (min-width: 795px) {
    .button.download {
        line-height: 38px;
        white-space: normal;
    }

    .description {
        min-height: 8em;
    }

    .catalog {
        margin-top: 3rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .button.download {
        padding: 0 10px;
        line-height: 38px;
        white-space: nowrap;
    }

    .catalog {
        margin-top: 3rem;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .catalog {
        margin-top: 3rem;
    }
}