/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background-image: url("/images/background.jpeg");
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  background: #5e779e;
  background: rgba(255, 255, 255, 0.8);
}

.button.social {
    line-height: 25px;
    height: 30px;
    border-radius: 40px;
    padding: 0 0px;
}

.block {
  text-align: center;
  padding: 10px;
}

.social-list {
    margin-top: 3rem;
}

.download {
    margin: 2rem 0;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .button.download {
        /*padding: 0 60px;*/
    }

    .description {
        min-height: 2em;
    }

    .catalog {
        margin-top: 3rem;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    .button.social {
        padding: 0 2px;
    }

    .button.download {
        padding: 0 15px;
        height: 100%;
        line-height: 20px;
        white-space: normal;
    }

    .description {
        min-height: 10em;
    }


    .catalog {
        margin-top: 5rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .button.download {
        line-height: 25px;
        white-space: normal;
    }

    .description {
        min-height: 8em;
    }

    .catalog {
        margin-top: 5rem;
    }
}

/* Larger than tablet */
@media (min-width: 873px) {
    .button.download {
        /*height: 100%;*/
        line-height: 20px;
        /*padding: 0 0px;*/
        white-space: normal;
    }

    .description {
        min-height: 8em;
    }

    .catalog {
        margin-top: 5rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .button.download {
        /*height: 100%;*/
        line-height: 38px;
        /*padding: 0 10px;*/
        white-space: nowrap;
    }

    .catalog {
        margin-top: 7rem;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .catalog {
        margin-top: 7rem;
    }
}